/* fonts */
/* ========================================================================== */
@font-face {
    font-family: 'old_growthregular';
    src: url('fonts/oldgrowth-regular-webfont.woff2') format('woff2'),
         url('fonts/oldgrowth-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sonder_sansblack';
    src: url('fonts/sondersans-black-webfont.woff2') format('woff2'),
         url('fonts/sondersans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General Styles & Layout */
/* ========================================================================== */
html,
body {
  background-color: #1d1e20;
  color: #eee7db;
  overflow-x: hidden;
}
h2 {
  font-family: 'old_growthregular', Arial, sans-serif;
  text-transform: lowercase;
  font-size: 55px;
  letter-spacing: 10px;
}
p {
  font-family: 'sonder_sansblack', Arial, sans-serif;
  font-size: 27px;
  line-height: 1.4;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
}

/* Branding */
/* ========================================================================== */
.branding {
  align-items: center;
  background-color: #ee594a;
  display: flex;
  justify-content: center;
  position: relative;
  width: 60%;
  z-index: 0;
}
.branding:before {
  background-color: #ee594a;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  width: 9999em;
  z-index: -1;
}
.logo {
  padding: 16% 10vw;
}
.logo img {
  display: block;
  width: 100%;
}

/* Communication (Newsletter & Twitter) */
/* ========================================================================== */
.communication {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  z-index: 0;
}
.js-background {
  background:
    linear-gradient(
      rgba(54, 54, 54, 0.75),
      rgba(54, 54, 54, 0.75)
    ),
    url(../images/newsletter-bg.jpg) no-repeat;
  background-position: top bottom;
  background-size: cover;
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
.newsletter {
  flex: 1;
  position: relative;
}
.newsletter p {
  margin: 0 auto;
  padding: 1em 0;
  border-style: solid;
  border-color: #eee7db;
  border-width: 4px 0;
  width: 75%;
}
.twitter {
  background-color: #006d86;
  height: 118px;
  margin: auto -9999rem 0 0;
  padding: 0 9999rem 0 0;
}

/* Sponsors */
/* ========================================================================== */
.sponsors {
  background-color: #1d1e20;
  width: 100%;
}
.sponsors .inner {
  padding: 0 0 0 10vw;
  display: flex;
  flex-flow: row wrap;
}
.sponsors h2 {
  width: 100%;
}
.sponsors p {
  line-height: 1.6;
  flex: 2;
}
.sponsors .prospectus {
  flex: 1;
  text-align: center;
}
.sponsors .prospectus span {
  font-family: "cubano";
  font-size: 20px;
  letter-spacing: 8px;
  display: block;
}
.sponsors .prospectus img {
  margin: 20px;
  width: 86px;
}

/* Responsive Styles */
/* ========================================================================== */
@media screen and (min-width: 1440px) {
  .logo {
    padding: 130px 180px 140px;
  }
  .sponsors .inner {
    padding: 0 0 0 180px;
  }
}
